In [ ]:
!pip install SQLAlchemy mysqlclient

Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.7/dist-packages (1.4.36)
Requirement already satisfied: mysqlclient in /usr/local/lib/python3.7/dist-packages (2.1.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy) (4.11.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy) (1.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy) (4.2.0)

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

In [ ]:
db_connect_string=''
engine = create_engine(db_connect_string, connect_args={'connect_timeout': 5})
df = pd.read_sql("SELECT * FROM hotel_dummy ", engine)
df

,Column_1,name,latitude,longitude,neighborhood,hotel_star,price_per_night,room_type,free_refund,type_nearby_destination,...,pool,wifi,parking,smoking,air_conditioner,wheelchair_access,average_bed_size,staff_vaccinated,child_area,price_category
0,0,"Hoky Homestay & Cafe | Amed, Bali",-8.335871,115.649070,Amed,4.0,14,private_room,False,"['zoo', 'sport']",...,True,True,True,True,True,False,False,True,True,0
1,1,Kadek Homestay cozy aparts on the beach,-8.336109,115.650263,Amed,4.5,13,private_room,False,['sport'],...,False,True,False,False,True,True,False,True,True,0
2,2,"Tejo Amed Homestay, Great View, 3",-8.334680,115.646764,Amed,4.5,10,private_room,False,['sport'],...,False,True,True,True,True,False,False,True,False,0
3,3,"Tejo Amed Homestay, good view, 4",-8.334861,115.646965,Amed,4.5,10,private_room,False,"['culinary', 'botanical']",...,False,True,True,True,True,False,False,True,False,0
4,5,fab dive center Dormitory,-8.333927,115.632232,Amed,4.5,10,shared_room,False,"['mall', 'zoo', 'historical']",...,False,True,True,True,True,False,False,True,True,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,162,"Pondok Bukit Bungalows, Amed",-8.334669,115.654298,Amed,4.5,38,entire_home,False,"['culinary', 'botanical', 'family park']",...,True,True,True,False,True,False,False,True,False,1
96,163,Anugerah 1 double bed+1single bed.,-8.347134,115.678791,Amed,4.5,31,private_room,False,"['mall', 'zoo', 'sport', 'family park']",...,False,True,True,True,True,False,False,True,False,1
97,166,Anugerah Villas Boutique Resort,-8.348780,115.679430,Amed,4.0,31,private_room,False,"['mall', 'culinary', 'sport']",...,True,True,False,True,True,False,True,True,True,1
98,168,Mango 5 Hotel Type Mango 2 B,-8.337638,115.658256,Amed,4.5,26,private_room,False,['culinary'],...,False,True,True,True,True,False,False,True,True,1
99,169,4 people - KIRANA HOMESTAY AMED - BREEZE BUNGALOW,-8.335491,115.646454,Amed,5.0,29,entire_home,False,['mall'],...,False,True,True,True,True,False,False,True,False,1

In [ ]:
def db_evaluate(df_in: pd.DataFrame) -> pd.DataFrame:
  df = df_in.copy()
  cols = df.columns.to_list()
  dtypes = df.dtypes
  for i in cols:
    if dtypes[i] == "O":
      try:
        df[i] = df[i].map(pd.eval)
      except:
        print(f"Columns '{i}' cannot be evaluated")

Columns 'name' cannot be evaluated
Columns 'neighborhood' cannot be evaluated
Columns 'room_type' cannot be evaluated
Columns 'type_nearby_destination' cannot be evaluated

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Column_1                 100 non-null    int64
 1   name                     100 non-null    object
 2   latitude                 100 non-null    float64
 3   longitude                100 non-null    float64
 4   neighborhood             100 non-null    object
 5   hotel_star               100 non-null    float64
 6   price_per_night          100 non-null    int64
 7   room_type                100 non-null    object
 8   free_refund              100 non-null    bool
 9   type_nearby_destination  100 non-null    object
 10  nearby_destination       100 non-null    int64
 11  breakfast                100 non-null    bool
 12  pool                     100 non-null    bool
 13  wifi                     100 non-null    bool
 14  parking                  100 non-null    bool
 15  smoking                  100 non-null    bool
 16  air_conditioner          100 non-null    bool
 17  wheelchair_access        100 non-null    bool
 18  average_bed_size         100 non-null    bool
 19  staff_vaccinated         100 non-null    bool
 20  child_area               100 non-null    bool
 21  price_category           100 non-null    int64
dtypes: bool(11), float64(3), int64(4), object(4)
memory usage: 9.8+ KB