In [ ]:
import numpy as np 
import pandas as pd 
from sqlalchemy import create_engine
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install SQLAlchemy mysqlclient

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.7/dist-packages (1.4.36)
Collecting mysqlclient
  Downloading mysqlclient-2.1.0.tar.gz (87 kB)
     |████████████████████████████████| 87 kB 6.9 MB/s
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy) (4.11.3)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy) (4.2.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy) (3.8.0)
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (setup.py) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.1.0-cp37-cp37m-linux_x86_64.whl size=99970 sha256=9f96dbb1a2c96882d2c459d7312dcd0cdbed987bd7549f44116e38e3a4c4efde
  Stored in directory: /root/.cache/pip/wheels/97/d4/df/08cd6e1fa4a8691b268ab254bd0fa589827ab5b65638c010b4
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.0

In [ ]:
db_connect_string=''
engine = create_engine(db_connect_string, connect_args={'connect_timeout': 10})
df_hotel = pd.read_sql("SELECT * FROM hotel_dummy ", engine)
df_hotel.head()

,Column_1,name,latitude,longitude,neighborhood,hotel_star,price_per_night,room_type,free_refund,type_nearby_destination,...,pool,wifi,parking,smoking,air_conditioner,wheelchair_access,average_bed_size,staff_vaccinated,child_area,price_category
0,0,"Hoky Homestay & Cafe | Amed, Bali",-8.335871,115.649070,Amed,4.0,14,private_room,False,"['zoo', 'sport']",...,True,True,True,True,True,False,False,True,True,0
1,1,Kadek Homestay cozy aparts on the beach,-8.336109,115.650263,Amed,4.5,13,private_room,False,['sport'],...,False,True,False,False,True,True,False,True,True,0
2,2,"Tejo Amed Homestay, Great View, 3",-8.334680,115.646764,Amed,4.5,10,private_room,False,['sport'],...,False,True,True,True,True,False,False,True,False,0
3,3,"Tejo Amed Homestay, good view, 4",-8.334861,115.646965,Amed,4.5,10,private_room,False,"['culinary', 'botanical']",...,False,True,True,True,True,False,False,True,False,0
4,5,fab dive center Dormitory,-8.333927,115.632232,Amed,4.5,10,shared_room,False,"['mall', 'zoo', 'historical']",...,False,True,True,True,True,False,False,True,True,0

In [ ]:
df_hotel.tail()

,Column_1,name,latitude,longitude,neighborhood,hotel_star,price_per_night,room_type,free_refund,type_nearby_destination,...,pool,wifi,parking,smoking,air_conditioner,wheelchair_access,average_bed_size,staff_vaccinated,child_area,price_category
95,162,"Pondok Bukit Bungalows, Amed",-8.334669,115.654298,Amed,4.5,38,entire_home,False,"['culinary', 'botanical', 'family park']",...,True,True,True,False,True,False,False,True,False,1
96,163,Anugerah 1 double bed+1single bed.,-8.347134,115.678791,Amed,4.5,31,private_room,False,"['mall', 'zoo', 'sport', 'family park']",...,False,True,True,True,True,False,False,True,False,1
97,166,Anugerah Villas Boutique Resort,-8.348780,115.679430,Amed,4.0,31,private_room,False,"['mall', 'culinary', 'sport']",...,True,True,False,True,True,False,True,True,True,1
98,168,Mango 5 Hotel Type Mango 2 B,-8.337638,115.658256,Amed,4.5,26,private_room,False,['culinary'],...,False,True,True,True,True,False,False,True,True,1
99,169,4 people - KIRANA HOMESTAY AMED - BREEZE BUNGALOW,-8.335491,115.646454,Amed,5.0,29,entire_home,False,['mall'],...,False,True,True,True,True,False,False,True,False,1

In [ ]:
df_hotel["Column_1"].unique()

array([  0,   1,   2,   3,   5,   7,   8,  11,  13,  14,  15,  19,  20,
        21,  23,  24,  25,  26,  27,  28,  29,  30,  32,  33,  34,  37,
        38,  39,  40,  41,  42,  43,  45,  50,  53,  54,  55,  58,  59,
        60,  61,  64,  65,  66,  67,  69,  70,  71,  72,  74,  75,  76,
        77,  78,  80,  82,  83,  87,  90,  91,  94,  97,  99, 100, 103,
       104, 105, 106, 109, 111, 113, 114, 115, 116, 118, 120, 121, 122,
       124, 126, 127, 129, 130, 133, 134, 135, 138, 139, 140, 141, 144,
       145, 149, 150, 157, 162, 163, 166, 168, 169])

In [ ]:
df_sentiment = pd.read_csv("/content/drive/Shareddrives/CapBatu/ML Divsion/Sentiment Analysis/data/processed/data.csv")
df_sentiment

                                                     text  labels
0       friendly staff fantastic location to downtown ...       1
1                      lighting in the room was very dark       0
2       the facilities are not that much there is no r...       0
3                    cleanliness very kind staff position       1
4                                        ac during winter       0
...                                                   ...     ...
742607  except the location we had to spent to get to ...       0
742608            cramped rooms bathrooms and dining room       0
742609                            hotel was near to metro       1
742610  meters from tram station a little bit far park...       0
742611  the bed was really comfortable hotel is so con...       1

[742612 rows x 2 columns]

In [ ]:
df = df_sentiment.copy()

In [ ]:
import random
df['hotel_id'] = random.choices(df_hotel["Column_1"].unique(), k=len(df))

In [ ]:
df.loc[df['labels'] == 1, 'Rating'] = np.random.randint(4, 6, size = 412601)
df.loc[df['labels'] == 0, 'Rating'] = np.random.randint(1, 4, size = 330011)

In [ ]:
df

,text,labels,hotel_id,Rating
0,friendly staff fantastic location to downtown ...,1,129,5.0
1,lighting in the room was very dark,0,3,3.0
2,the facilities are not that much there is no r...,0,114,2.0
3,cleanliness very kind staff position,1,58,5.0
4,ac during winter,0,109,3.0
...,...,...,...,...
742607,except the location we had to spent to get to ...,0,70,1.0
742608,cramped rooms bathrooms and dining room,0,5,2.0
742609,hotel was near to metro,1,139,5.0
742610,meters from tram station a little bit far park...,0,138,3.0
742611,the bed was really comfortable hotel is so con...,1,3,5.0

In [ ]:
df.Rating.unique()

array([5., 3., 2., 1., 4.])

In [ ]:
def random_datetimes_or_dates(start, end, out_format='datetime', n=742612): 

    '''   
    unix timestamp is in ns by default. 
    I divide the unix time value by 10**9 to make it seconds (or 24*60*60*10**9 to make it days).
    The corresponding unit variable is passed to the pd.to_datetime function. 
    Values for the (divide_by, unit) pair to select is defined by the out_format parameter.
    for 1 -> out_format='datetime'
    for 2 -> out_format=anything else
    '''
    (divide_by, unit) = (10**9, 's') if out_format=='datetime' else (24*60*60*10**9, 'D')

    start_u = start.value//divide_by
    end_u = end.value//divide_by

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit=unit)

In [ ]:
np.random.seed(0)
start = pd.to_datetime('2022-01-01')
end = pd.to_datetime('2022-05-16')
df['Dates']=random_datetimes_or_dates(start, end, out_format='datetime')

In [ ]:
df['User_ID'] = np.random.randint(1,100,size = len(df))

In [ ]:
df.shape

(742612, 6)

In [ ]:
np.random.seed(10)
remove_n = 700000
drop_indices = np.random.choice(df.index, remove_n, replace=False)

In [ ]:
df_subset = df.drop(drop_indices)
df_subset.shape

(42612, 6)

In [ ]:
df_subset.to_csv("Data_Review.csv")

In [ ]:
from datetime import date
from datetime import timedelta

Today = pd.Timestamp('today').floor('D')
mask = (df['Dates'] > Today - timedelta(days=7)) & (df['Dates'] <= Today)
forecast_mask = df.loc[mask]

In [ ]:
df_subset

,text,labels,hotel_id,Rating,Dates,User_ID
10,the staff were lovely and it is a good location,1,80,5.0,2022-01-05 08:02:44,83
15,from the floor there would have been a great v...,0,37,3.0,2022-02-24 19:28:01,71
19,wonderfully located old world charm in the hea...,1,61,5.0,2022-04-18 08:44:01,45
21,superb staff very helpful and friendly our sui...,1,11,5.0,2022-02-05 23:14:21,39
24,mooi plek,1,113,4.0,2022-02-04 03:48:03,52
...,...,...,...,...,...,...
742551,reception staff were all well trained n effici...,1,77,5.0,2022-01-13 11:37:44,89
742553,everything the staff were great when we arrive...,1,104,5.0,2022-04-04 20:09:52,91
742580,everything was incredible no negatives,0,97,1.0,2022-02-03 20:29:06,91
742593,the room was big and the beds were really comf...,1,120,4.0,2022-02-04 05:14:13,95
742594,lighting was too low room was small,0,64,3.0,2022-02-01 17:43:18,64

In [ ]:
forecast_mask

Empty DataFrame
Columns: [text, labels, hotel_id, Rating, Dates, User_ID]
Index: []

In [ ]:
df_list = forecast_mask.groupby('hotel_id').count()['text'] 
df_list

Series([], Name: text, dtype: int64)

In [ ]:
df_list_2 = df.groupby('hotel_id')['Rating'].mean()
df_list_2

hotel_id
0      3.404803
1      3.386860
2      3.378238
3      3.373647
5      3.389812
         ...
162    3.401036
163    3.417284
166    3.436123
168    3.386535
169    3.386051
Name: Rating, Length: 100, dtype: float64

In [ ]:
df_hotel_reviews = df_hotel.copy()
df_hotel_reviews['num_of_reviews'] = df_list
df_hotel_reviews['avg_ratings'] = df_list_2
df_hotel_reviews = df_hotel_reviews.fillna(0)

In [ ]:
df_hotel_reviews

,Column_1,name,latitude,longitude,neighborhood,hotel_star,price_per_night,room_type,free_refund,type_nearby_destination,...,parking,smoking,air_conditioner,wheelchair_access,average_bed_size,staff_vaccinated,child_area,price_category,num_of_reviews,avg_ratings
0,0,"Hoky Homestay & Cafe | Amed, Bali",-8.335871,115.649070,Amed,4.0,14,private_room,False,"['zoo', 'sport']",...,True,True,True,False,False,True,True,0,0.0,3.404803
1,1,Kadek Homestay cozy aparts on the beach,-8.336109,115.650263,Amed,4.5,13,private_room,False,['sport'],...,False,False,True,True,False,True,True,0,0.0,3.386860
2,2,"Tejo Amed Homestay, Great View, 3",-8.334680,115.646764,Amed,4.5,10,private_room,False,['sport'],...,True,True,True,False,False,True,False,0,0.0,3.378238
3,3,"Tejo Amed Homestay, good view, 4",-8.334861,115.646965,Amed,4.5,10,private_room,False,"['culinary', 'botanical']",...,True,True,True,False,False,True,False,0,0.0,3.373647
4,5,fab dive center Dormitory,-8.333927,115.632232,Amed,4.5,10,shared_room,False,"['mall', 'zoo', 'historical']",...,True,True,True,False,False,True,True,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,162,"Pondok Bukit Bungalows, Amed",-8.334669,115.654298,Amed,4.5,38,entire_home,False,"['culinary', 'botanical', 'family park']",...,True,False,True,False,False,True,False,1,0.0,0.000000
96,163,Anugerah 1 double bed+1single bed.,-8.347134,115.678791,Amed,4.5,31,private_room,False,"['mall', 'zoo', 'sport', 'family park']",...,True,True,True,False,False,True,False,1,0.0,0.000000
97,166,Anugerah Villas Boutique Resort,-8.348780,115.679430,Amed,4.0,31,private_room,False,"['mall', 'culinary', 'sport']",...,False,True,True,False,True,True,True,1,0.0,3.399810
98,168,Mango 5 Hotel Type Mango 2 B,-8.337638,115.658256,Amed,4.5,26,private_room,False,['culinary'],...,True,True,True,False,False,True,True,1,0.0,0.000000
99,169,4 people - KIRANA HOMESTAY AMED - BREEZE BUNGALOW,-8.335491,115.646454,Amed,5.0,29,entire_home,False,['mall'],...,True,True,True,False,False,True,False,1,0.0,3.389500

In [ ]:
from sklearn.preprocessing import MinMaxScaler
trans = MinMaxScaler()
df_hotel_reviews[["num_of_reviews","avg_ratings"]] = trans.fit_transform(df_hotel_reviews[["num_of_reviews","avg_ratings"]])

In [ ]:
df_hotel_reviews

,Column_1,name,latitude,longitude,neighborhood,hotel_star,price_per_night,room_type,free_refund,type_nearby_destination,...,parking,smoking,air_conditioner,wheelchair_access,average_bed_size,staff_vaccinated,child_area,price_category,num_of_reviews,avg_ratings
0,0,"Hoky Homestay & Cafe | Amed, Bali",-8.335871,115.649070,Amed,4.0,14,private_room,False,"['zoo', 'sport']",...,True,True,True,False,False,True,True,0,0.0,0.992136
1,1,Kadek Homestay cozy aparts on the beach,-8.336109,115.650263,Amed,4.5,13,private_room,False,['sport'],...,False,False,True,True,False,True,True,0,0.0,0.986908
2,2,"Tejo Amed Homestay, Great View, 3",-8.334680,115.646764,Amed,4.5,10,private_room,False,['sport'],...,True,True,True,False,False,True,False,0,0.0,0.984395
3,3,"Tejo Amed Homestay, good view, 4",-8.334861,115.646965,Amed,4.5,10,private_room,False,"['culinary', 'botanical']",...,True,True,True,False,False,True,False,0,0.0,0.983057
4,5,fab dive center Dormitory,-8.333927,115.632232,Amed,4.5,10,shared_room,False,"['mall', 'zoo', 'historical']",...,True,True,True,False,False,True,True,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,162,"Pondok Bukit Bungalows, Amed",-8.334669,115.654298,Amed,4.5,38,entire_home,False,"['culinary', 'botanical', 'family park']",...,True,False,True,False,False,True,False,1,0.0,0.000000
96,163,Anugerah 1 double bed+1single bed.,-8.347134,115.678791,Amed,4.5,31,private_room,False,"['mall', 'zoo', 'sport', 'family park']",...,True,True,True,False,False,True,False,1,0.0,0.000000
97,166,Anugerah Villas Boutique Resort,-8.348780,115.679430,Amed,4.0,31,private_room,False,"['mall', 'culinary', 'sport']",...,False,True,True,False,True,True,True,1,0.0,0.990681
98,168,Mango 5 Hotel Type Mango 2 B,-8.337638,115.658256,Amed,4.5,26,private_room,False,['culinary'],...,True,True,True,False,False,True,True,1,0.0,0.000000
99,169,4 people - KIRANA HOMESTAY AMED - BREEZE BUNGALOW,-8.335491,115.646454,Amed,5.0,29,entire_home,False,['mall'],...,True,True,True,False,False,True,False,1,0.0,0.987677

In [ ]:
df_hotel_reviews['score'] = df_hotel_reviews['num_of_reviews']*(df_hotel_reviews['avg_ratings']*1.2)
df_hotel_reviews

,Column_1,name,latitude,longitude,neighborhood,hotel_star,price_per_night,room_type,free_refund,type_nearby_destination,...,smoking,air_conditioner,wheelchair_access,average_bed_size,staff_vaccinated,child_area,price_category,num_of_reviews,avg_ratings,score
0,0,"Hoky Homestay & Cafe | Amed, Bali",-8.335871,115.649070,Amed,4.0,14,private_room,False,"['zoo', 'sport']",...,True,True,False,False,True,True,0,0.0,0.992136,0.0
1,1,Kadek Homestay cozy aparts on the beach,-8.336109,115.650263,Amed,4.5,13,private_room,False,['sport'],...,False,True,True,False,True,True,0,0.0,0.986908,0.0
2,2,"Tejo Amed Homestay, Great View, 3",-8.334680,115.646764,Amed,4.5,10,private_room,False,['sport'],...,True,True,False,False,True,False,0,0.0,0.984395,0.0
3,3,"Tejo Amed Homestay, good view, 4",-8.334861,115.646965,Amed,4.5,10,private_room,False,"['culinary', 'botanical']",...,True,True,False,False,True,False,0,0.0,0.983057,0.0
4,5,fab dive center Dormitory,-8.333927,115.632232,Amed,4.5,10,shared_room,False,"['mall', 'zoo', 'historical']",...,True,True,False,False,True,True,0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,162,"Pondok Bukit Bungalows, Amed",-8.334669,115.654298,Amed,4.5,38,entire_home,False,"['culinary', 'botanical', 'family park']",...,False,True,False,False,True,False,1,0.0,0.000000,0.0
96,163,Anugerah 1 double bed+1single bed.,-8.347134,115.678791,Amed,4.5,31,private_room,False,"['mall', 'zoo', 'sport', 'family park']",...,True,True,False,False,True,False,1,0.0,0.000000,0.0
97,166,Anugerah Villas Boutique Resort,-8.348780,115.679430,Amed,4.0,31,private_room,False,"['mall', 'culinary', 'sport']",...,True,True,False,True,True,True,1,0.0,0.990681,0.0
98,168,Mango 5 Hotel Type Mango 2 B,-8.337638,115.658256,Amed,4.5,26,private_room,False,['culinary'],...,True,True,False,False,True,True,1,0.0,0.000000,0.0
99,169,4 people - KIRANA HOMESTAY AMED - BREEZE BUNGALOW,-8.335491,115.646454,Amed,5.0,29,entire_home,False,['mall'],...,True,True,False,False,True,False,1,0.0,0.987677,0.0

In [ ]:
df_hotel_reviews = df_hotel_reviews.sort_values(by = 'score',ascending = False)
df_hotel_reviews

,Column_1,name,latitude,longitude,neighborhood,hotel_star,price_per_night,room_type,free_refund,type_nearby_destination,...,smoking,air_conditioner,wheelchair_access,average_bed_size,staff_vaccinated,child_area,price_category,num_of_reviews,avg_ratings,score
0,0,"Hoky Homestay & Cafe | Amed, Bali",-8.335871,115.649070,Amed,4.0,14,private_room,False,"['zoo', 'sport']",...,True,True,False,False,True,True,0,0.0,0.992136,0.0
63,100,Pakel's Bali Villas,-8.335566,115.646480,Amed,4.0,31,private_room,False,"['mall', 'sport', 'zoo', 'botanical', 'family ...",...,True,True,False,False,True,False,1,0.0,0.000000,0.0
73,116,3 Bedrooms Beachfront Villa in Amed,-8.329708,115.637192,Amed,4.0,204,entire_home,False,['sport'],...,True,True,False,False,True,False,2,0.0,0.000000,0.0
72,115,Katana Villa with Waterslide & View,-8.349689,115.681186,Amed,5.0,200,entire_home,False,"['culinary', 'zoo', 'historical']",...,False,True,False,True,True,False,2,0.0,0.985842,0.0
71,114,Villa Agung beach front in Amed,-8.330443,115.635982,Amed,5.0,204,entire_home,False,"['mall', 'botanical', 'historical']",...,True,True,False,False,True,False,2,0.0,0.987061,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,42,Mango 5 Hotel type Mango 1 A,-8.337106,115.652754,Amed,5.0,21,private_room,False,['zoo'],...,True,True,False,False,True,False,0,0.0,0.986098,0.0
29,41,Beautiful Private Apartment in Lipah,-8.351749,115.683400,Amed,5.0,21,entire_home,False,"['botanical', 'family park']",...,True,False,False,False,True,True,0,0.0,0.986733,0.0
28,40,KIRANA HOMESTAY KING GUEST ROOM,-8.336679,115.645872,Amed,5.0,19,private_room,False,"['botanical', 'sport']",...,False,True,False,False,True,False,0,0.0,0.985145,0.0
27,39,Barracuda Beach Room 2,-8.334886,115.655434,Amed,4.5,19,private_room,False,"['sport', 'family park']",...,False,True,False,False,True,True,0,0.0,0.991833,0.0
99,169,4 people - KIRANA HOMESTAY AMED - BREEZE BUNGALOW,-8.335491,115.646454,Amed,5.0,29,entire_home,False,['mall'],...,True,True,False,False,True,False,1,0.0,0.987677,0.0

In [ ]:
df_hotel_reviews["Column_1"].toList()

AttributeError: ignored